* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/FAST/CreativeWork/CreativeWork.java -text
src/main/java/edu/uiowa/slis/FAST/CreativeWork/CreativeWorkIterator.java -text
src/main/java/edu/uiowa/slis/FAST/CreativeWork/CreativeWorkLabel.java -text
src/main/java/edu/uiowa/slis/FAST/CreativeWork/CreativeWorkSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinates.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesGeoInverse.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesGeoInverseIterator.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesGeoInverseType.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesIterator.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesLabel.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesLatitude.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesLatitudeIterator.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesLongitude.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesLongitudeIterator.java -text
src/main/java/edu/uiowa/slis/FAST/GeoCoordinates/GeoCoordinatesSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/Intangible/Intangible.java -text
src/main/java/edu/uiowa/slis/FAST/Intangible/IntangibleIterator.java -text
src/main/java/edu/uiowa/slis/FAST/Intangible/IntangibleLabel.java -text
src/main/java/edu/uiowa/slis/FAST/Intangible/IntangibleSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/Organization/Organization.java -text
src/main/java/edu/uiowa/slis/FAST/Organization/OrganizationIterator.java -text
src/main/java/edu/uiowa/slis/FAST/Organization/OrganizationLabel.java -text
src/main/java/edu/uiowa/slis/FAST/Organization/OrganizationSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/Person/Person.java -text
src/main/java/edu/uiowa/slis/FAST/Person/PersonIterator.java -text
src/main/java/edu/uiowa/slis/FAST/Person/PersonLabel.java -text
src/main/java/edu/uiowa/slis/FAST/Person/PersonSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/Place/Place.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceGeo.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceGeoIterator.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceGeoType.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceIterator.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceLabel.java -text
src/main/java/edu/uiowa/slis/FAST/Place/PlaceSubjectURI.java -text
src/main/java/edu/uiowa/slis/FAST/README.txt -text
src/main/java/edu/uiowa/slis/FAST/TagLibSupport.java -text
src/main/java/edu/uiowa/slis/FAST/utility/SPARQL.java -text
src/main/java/edu/uiowa/slis/FAST/utility/SPARQLObject.java -text
src/main/java/edu/uiowa/slis/FAST/utility/SPARQLPredicate.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/ontology.statistics -text
src/non-packaged-resources/schema.rdf -text
src/test/java/edu/uiowa/slis/FAST/README.txt -text
src/test/resources/README.txt -text
